.Button {
  background-color: rgb(246, 246, 255);
  /* border-color: rgb(171, 171, 207);
  color: rgb(59, 59, 59); */
  border-radius: 3px;
  margin-left: 2.5px;
  border-color: rgb(226, 224, 222);
  /* margin-right: 2.5px; */
  padding-left: 15px;
  color: rgb(54, 54, 54);
  width: 100%;
  margin-top: 2px;
}

.Disabled {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(98, 97, 97);
  border-radius: 3px;
  margin-left: 2.5px;
  /* margin-right: 2.5px; */
  padding-left: 15px;
  width: 100%;
  margin-top: 2px;
}

.Prefix {
  margin-right: 1px;
  position: absolute;
  color: rgb(131, 131, 131);
  margin-left: 8px;
  margin-top: 3.25px;
}

.Div {
  display: flex;
  width: 100%;
  margin-top: 2px;
  border-radius: 3px;
  color: rgb(54, 54, 54);
  background-color: rgb(212, 212, 212);
}

.Field {
  background-color: rgb(187, 187, 207);
  border-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  border-radius: 3px;
  margin-left: 2.5px;
  /* margin-right: 2.5px; */
  padding-left: 15px;
  width: 100%;
  margin-top: 2px;
}
